#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  transform: scale(.9);

}

#root:has(button[type="button"]) {
  transform: scale(1.2);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
